.colaborador {
  width: 17.5rem;
  // display: flex;

  .cabecalho {
    // background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;



    img {
      width: 6.25rem;
      border-radius: 50%;
      position: relative;
      bottom: -50px;
    }

  }

  .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 5.625rem;
    padding-bottom: 2.5rem;

    h4 {
      color: #6278F7;
      font-size: 1.125rem;
      line-height: 1.375rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    h5 {
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: #212121;
      padding: 0 1rem;
    }

  }


}